@model Cadeteria.ViewModels.NuevoPedidoViewModel

@{
    ViewData["Title"] = "AltaPedido";
}

<h1>AltaPedido</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AltaPedido">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PedidoVM.Obs" class="control-label">Observacion</label>
                <input asp-for="PedidoVM.Obs" class="form-control" />
                <span asp-validation-for="PedidoVM.Obs" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label>Estado del Pedido</label>
                <select asp-for="PedidoVM.EstadoPedido" class="form-select">
                    <option value="0">Entregado</option>
                    <option value="1">En Proceso</option>
                    <option value="2">Cancelado</option>
                </select>
            </div>
            <div class="form-check">
                <label>Elegir Cadete</label>
                <select asp-for="CadeteID" class="form-select">
                    @foreach (var Cadete in Model.listaCadetes)
                    {
                        <option value="@Cadete.Id">@Cadete.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Pedido" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
