@{
    ViewData["Title"] = "Alta Pedidos";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="display-6">Registrar un Pedido</h2>
                <form asp-action="AltaPedido" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre del Cliente</label>
                        <input type="text" class="form-control" id="_NombreClie" name="_NombreClie" required>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Direccion del Cliente</label>
                        <input type="text" class="form-control" id="_DireccionClie" name="_DireccionClie" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Telefono del Cliente</label>
                        <input type="text" class="form-control" id="_TelefonoClie" name="_TelefonoClie" required>
                    </div>
                    <div class="mb-3">
                        <label for="Observations" class="form-label">Observaciones</label>
                        <input type="text" class="form-control" id="_Obs" name="_Obs">
                    </div>
                    <div>
                        <label for="Status" class="form-label">Estado</label>
                        <select class="form-select" multiple aria-label="multiple select example" name="_Estado">
                            <option value="0">Entregado</option>
                            <option value="1">En Proceso</option>
                            <option value="2">Cancelado</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>